<div class="page main-page">        
    <div class="form-outer">
        <div class="form-inner">
            <div class="row justify-content-between mb-3">
                <div class="col-6">
                    <h4 class="title-section">Registrar Rostro del Usuario</h4>          
                </div>
            </div>

                <app-webcam-facereg
                [trigger]="triggerCam"
                (captureImage)="capturarRostro($event)">
                </app-webcam-facereg>                

                <div class="row col-12 justify-content-center">
                    <div class="form-group mt-2">
                    <button (click)="tomarRostro()" class="btn btn-primary float-right btn-flex">
                        <span class="material-icons mr-1">add_a_photo</span>
                        Capturar Imagen
                    </button>
                    </div>
                </div>

                <div class="row col-12 justify-content-center">
                    <div class="form-group mt-2">
                    <button routerLink="/tecnm" class="btn btn-primary float-right btn-flex">
                        <span class="material-icons mr-1">home</span>
                        Regresar al inicio
                    </button>
                    </div>
                </div>
        </div>
    </div>    
</div>