<div class="page main-page">        
    <div class="form-outer">
        <div class="form-inner">
            <div class="row justify-content-between mb-3">
                <div class="col-6">
                    <h4 class="title-section">Reconocimiento de usuario</h4>          
                </div>
            </div>

            <app-webcam-facereg
            [trigger]="triggerCam"
            (captureImage)="capturarRostro($event)">
            </app-webcam-facereg>

            <div class="row mt-2 justify-content-center align-items-end">
                <form id="form-register" [formGroup]="form" class="nobottommargin row col-7" method="POST">
                    <div class="col-12 form-group" *ngIf="!checkMiembroTec">
                        <label for="id">Identificador de acceso</label>
                        <input type="text" id="id" mask="00009999999"
                        formControlName="id" class="form-control"
                        placeholder="Identificador"
                        required  autofocus/>
                        <app-feedback-validator [errors]="formControls.id.errors" [submitted]="submitted" [attr]="'identificador de acceso'"></app-feedback-validator>
                    </div>
    
                    <div class="col-12 form-group" *ngIf="checkMiembroTec">
                        <label for="numControl">Número de control</label>
                        <input type="text" id="numControl" mask="00000000"
                        formControlName="numControl" class="form-control"
                        placeholder="Número de control"
                        required  autofocus/>
                        <app-feedback-validator [errors]="formControls.numControl.errors" [submitted]="submitted" [attr]="'número de control'"></app-feedback-validator>
                    </div>
                </form>                

                <div class="row col-6 justify-content-center">
                    <div class="form-group mt-2">
                    <button (click)="tomarRostro(true)" class="btn btn-primary float-right">
                        Marcar Entrada
                    </button>
                    </div>
                </div>

                <div class="row col-6 justify-content-center">
                    <div class="form-group mt-2">
                    <button (click)="tomarRostro(false)" class="btn btn-primary float-right">
                        Marcar Salida
                    </button>
                    </div>
                </div>

                <div class="row col-10 form-check">
                    <input type="checkbox" class="form-check-input" id="checkSolicitud"
                            [checked]="checkMiembroTec"
                            (change)="changeCheckCambio($event.target)">
                    <label class="font-weight-bold form-check-label" for="checkSolicitud">
                        ¿Eres miembro del tecnológico?
                    </label>                    
                </div>
            </div>

        </div>
    </div>    
</div>