<div class="main-grid">    
    <div class="cam-grid">
        <webcam            
        *ngIf="showWebcam"
        [trigger]="triggerObservable"
        (imageCapture)="handleImage($event)"        
        [imageQuality]="1"
        [mirrorImage]="mirrorImage"
        (cameraSwitched)="cameraWasSwitched($event)"
        (initError)="handleInitError($event)"></webcam>
                    
        <span *ngIf="!showWebcam" class="material-icons videocamoff">videocam_off</span>

        <!-- <div class="bottom mt-2">
            <button class="actionBtn" (click)="triggerSnapshot();">Take A Snapshot</button>            
            <button class="actionBtn" (click)="12">Save Image</button>
        </div> -->        

    </div>
</div>