.videocamoff{
    font-size: 15rem;
}

.main-grid{
    display: grid;
    justify-content: center;    
}

.main-grid .bottom{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}

/* ::ng-deep video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
} */