<div class="page main-page">        
    <div class="form-outer">
        <div class="form-inner">
            <div class="row justify-content-between mb-3">
                <div class="col-6">
                    <h4 class="title-section">Registrar usuario</h4>          
                </div>
            </div>

            <form id="form-register" [formGroup]="form" class="nobottommargin row" method="POST" (submit)="registrar()">
                <div class="col-12 form-group">
                    <label for="name">Nombre</label>
                    <input type="text" id="nombre" formControlName="nombre" class="form-control"
                        placeholder="Nombre"
                        required  autofocus/>
                    <app-feedback-validator [errors]="formControls.nombre.errors" [submitted]="submitted" [attr]="'nombre'"></app-feedback-validator>
                </div>

                <div class="col-12 form-group">
                    <label for="name">Apellidos</label>                                                                  
                    <input type="text" id="apellidos" formControlName="apellidos" class="form-control" 
                    placeholder="Apellidos"
                    required  autofocus/>
                    <app-feedback-validator [errors]="formControls.apellidos.errors" [submitted]="submitted" [attr]="'apellidos'"></app-feedback-validator>
                </div>

                <div class="col-12 form-group" *ngIf="checkMiembroTec">
                    <label for="name">Número de control</label>                                                                  
                    <input type="text" id="numControl" mask="00000000"                    
                    formControlName="numControl" class="form-control" 
                    placeholder="Número de control"
                    required  autofocus/>
                    <app-feedback-validator [errors]="formControls.numControl.errors" [submitted]="submitted" [attr]="'número de control'"></app-feedback-validator>
                </div>

                <div class="col-12 form-group">
                    <label for="name">Correo Electrónico</label>                                                                  
                    <input type="text" id="email" formControlName="email" class="form-control" 
                    placeholder="Correo Electrónico" autocomplete="email"
                    required  autofocus/>
                    <app-feedback-validator [errors]="formControls.email.errors" [submitted]="submitted" [attr]="'correo electrónico'"></app-feedback-validator>
                </div>                
                
                <div class="col-12 form-check">
                    <input type="checkbox" class="form-check-input" id="checkSolicitud"
                            [checked]="checkMiembroTec"
                            (change)="changeCheckCambio($event.target)">
                    <label class="font-weight-bold form-check-label" for="checkSolicitud">
                        ¿Eres miembro del tecnológico?
                    </label>                    
                </div>
            </form>

            <div class="row justify-content-end">
                <div class="col-4">
                  <div class="form-group mt-2">
                    <button type="submit" form="form-register" class="btn btn-success float-right">Registrar</button>
                  </div>
                </div>
              </div>
        </div>
    </div>    
</div>