<div class="page main-page">
    <div class="container">
        <div class="form-outer text-center align-items-center">

            <div class="form-inner">

                <div class="logo">
                <img src="../../../assets/images/logo_itculiacan.png" style="width: 50%">
                <p class="mt-1 mb-0"><b>Sistema de Reconocimiento Facial TECNM</b></p>
                <p class="subtitle"><b>Instituto Tecnológico de Culiacán</b></p>
                </div>

                <div class="buttons-grid">
                    <button type="button" routerLink="./reconocimiento" class="btn btn-primary btn-flex">
                        <span class="material-icons mr-1">assignment_ind</span>
                        <span>Reconocer Usuario</span>
                    </button>

                    <button type="button" routerLink="./registro" class="btn btn-primary btn-flex">
                        <span class="material-icons mr-1">app_registration</span>
                        <span>Registrar Usuario</span>
                    </button>
                </div>
            </div>
        </div>
    </div>  
</div>