p.subtitle{
    font-size: 1.3rem;
    color: #aaa;
}

.buttons-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    align-items: center;
}

.main-page .form-outer, .register-page .form-outer, .reset-pass-page .form-outer{
  min-height: 150vh;
  max-width: 650px;
  margin: 0 auto;
  padding: 100px 0;
  position: relative;
}
