/* You can add global styles to this file, and also import other style files */
@import "~sweetalert2/dist/sweetalert2.css";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.title-section{
  font-weight: 700;
  font-size: 24px;
}

.table thead>tr>th,
.table thead>tr>td,
.table tfoot>tr>th,
.table tfoot>tr>td {
  border-top: 0;
  border-bottom: 0;
  font-weight: 500;
  text-transform: uppercase;
  color: #343a40;
  letter-spacing: 0.5px;
}

.modal-extra-lg {
  max-width: 900px !important;
}

.btn-flex{
  display: flex !important;
  justify-content: center;
  align-items: center !important;
}

.main-page, .register-page, .reset-pass-page {
  width: 100%;
  background: #e1e1e1;
  min-height: auto;
  padding-bottom: 0;
}

.main-page .logo, .register-page .logo, .reset-pass-page .logo{
  font-size: 1.7em;
  font-weight: 500;
}

/* .main-page form, .register-page form, .reset-pass-page form {
  margin: 2rem auto 1rem;
  max-width: 500px;
} */

.main-page a.forgot-pass, .register-page a.forgot-pass{
  display: block;
}
.main-page a.forgot-pass, .main-page a.signup, .register-page a.forgot-pass, .register-page a.signup, .reset-pass-page a.back-home {
  font-size: 0.8em;
  color: #66b0ff;
}
.main-page small, .register-page small, .reset-pass-page small {
  font-size: 0.8em;
  color: #aaa;
  line-height: 0.9em;
}

.register-page form, .reset-pass-page form {
  max-width: 100%;
}

.main-page .form-inner, .register-page .form-inner, .reset-pass-page .form-inner{
  padding: 40px 30px;
  background: #fff;
  box-shadow: 1px 1px 2px rgba(0,0,0,.1);
  margin-bottom: 20px;
}

.main-page .form-outer{
  min-height: 150vh;
  max-width: 700px;
  margin: 0 auto;
  padding: 100px 0;
  position: relative;
}
